<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="赛冷思,liumh1011@163.com"> 
        <meta http-equiv="Pragma" content="no-cache">
        <!-- 强制让文档与设备的宽度保持1：1 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <!-- 删除默认的苹果工具栏和菜单栏 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- 在web app应用下状态条（屏幕顶部条）的颜色 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- 禁止了把数字转化为拨号链接 -->
        <meta name="format-detection" content="telephone=no">
        <title>循环渲染</title>
        <style>
            
        </style>
    </head>
    <body>
        <div id="app">
            <h2>v-for='(index,item) in list' or v-for='(index,item) of list' </h2>
            <h4>二维数组</h4>
            <table>
                <thead>
                    <tr>
                        <th>id</th><th>name</th>
                        <th>$index</th><th>index</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(index,li) in list" track-by="$index">
                        <td v-html="li.id"></td><td v-html="li.name"></td>
                        <td v-html="$index"></td><td v-html="index"></td>
                    </tr>
                </tbody>
            </table>
            <button v-on:click="setItemByIndex">通过索引设置数组的整个元素需要用$set(index,newValue)</button>
            <button v-on:click="setItemFieldByIndex">通过索引设置数组的元素中的字可以用[index].field=newValue</button>
            <hr>
            <hr>
            <h4>一维数组</h4>
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>$index</th><th>index</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(index,li) in oneList" track-by="$index">
                        <td v-html="li"></td>
                        <td v-html="$index"></td><td v-html="index"></td>
                    </tr>
                </tbody>
            </table>
            <button v-on:click="oneSetItemByIndex">通过索引设置数组的整个元素需要用$set(index,item)</button>
            <hr>
            <hr>
            <h4>对象</h4>
            <table>
                <tbody>
                    <tr v-for="(key,value) in obj">
                        <td>{{key}}(key别名):{{$key}}($key):{{value}}</td>
                    </tr>
                </tbody>
            </table>
            <button v-on:click="setItemByKey">通过指定的属性设置对象属性的新值</button>
            <hr>
            <hr>
            <h4>数字</h4>
            <table>
                <tbody>
                    <tr v-for="n in total">
                        <td>{{n}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <hr>
            <h3>通过实验证明：通过索引设置数组的整个元素，不管是一维数组还是二维数组，都不会生效，需要用$set(index,newValue)</h3>
        </div>

        <script src="../../node_modules/vue/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    //遍历二维数组
                    list:[
                        {name:'赛',id:1},
                        {name:'冷',id:2},
                        {name:'思',id:3}
                    ],

                    //遍历一维数组
                    oneList:['sai','lengsi','si'],

                    //遍历对象
                    obj:{
                        id:1,name:'silence',age:23
                    },

                    //遍历数字
                    total:6
                },
                methods:{
                    //通过索引设置整个元素
                    setItemByIndex:function(){
                        var index=2,
                            ele={id:3,name:'赛冷思'};
                        this.list.$set(index, ele);
                    },
                    //通过索引设置元素中的某个字段
                    setItemFieldByIndex:function(){
                        var index=2,
                            name='sls';
                        this.list[index].name=name;
                    },

                    //一维数组通过索引设置整个元素
                    oneSetItemByIndex:function(){
                        var index=2,
                            ele='sailengsi';
                        this.oneList.$set(index, ele);
                    },

                    //通过指定的属性设置对象属性的新值
                    setItemByKey:function(){
                        this.obj.name='sailengsi';
                    }
                }
            });
        </script>
    </body>
</html>