<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="赛冷思,liumh1011@163.com"> 
        <meta http-equiv="Pragma" content="no-cache">
        <!-- 强制让文档与设备的宽度保持1：1 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <!-- 删除默认的苹果工具栏和菜单栏 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- 在web app应用下状态条（屏幕顶部条）的颜色 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- 禁止了把数字转化为拨号链接 -->
        <meta name="format-detection" content="telephone=no">
        <title>父组件与子组件通信</title>
        <style>
            input{
                display: block;
                width:600px;
                clear: both;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <parent></parent>
        </div>
        <template id="parent">
            <h1>这是父组件。</h1>
            <p>父组件定义的parentMsg1:{{parentMsg1}}</p>
            <p>父组件定义的parentMsg2:{{parentMsg2}}</p>
            <p>父组件定义的parentMsg3:{{parentMsg3}}</p>
            <input type="text" v-model='parentMsg1'>
            <input type="text" v-model='parentMsg2'>
            <input type="text" v-model='parentMsg3'>
            <child :parent-msg1='parentMsg1' :parent-msg2.sync='parentMsg2' :parent-msg3.once='parentMsg3'></child>
        </template> 
        <template id="child">
            <h2>这是子组件。</h2>
            <p>子组件接收的parentMsg1:{{parentMsg1}}</p>
            <p>子组件接收的parentMsg2:{{parentMsg2}}</p>
            <p>子组件接收的parentMsg3:{{parentMsg3}}</p>
            <input type="text" v-model='parentMsg1'>
            <input type="text" v-model='parentMsg2'>
            <input type="text" v-model='parentMsg3'>
        </template>
        <template id="child"></template>
        <script src="../../node_modules/vue/dist/vue.js"></script>
        <script>
            Vue.component('parent',{
                data:function(){
                    return {
                        parentMsg1:'这是父组件传给子组件的值,只会从父同步子，不会从子同步到父。',
                        parentMsg2:'这是父组件传给子组件的值,父和子都会互相同步。',
                        parentMsg3:'初始化之后,各自只会在各自的组件中同步。',
                    }
                },
                template:'#parent',
                components:{
                    child:{
                        props:['parentMsg1','parentMsg2','parentMsg3'],
                        template:'#child'
                    }
                }
            });

            //创建根实例
            var app = new Vue({
                el: '#app',
                data: {
                    
                },
                methods:{}
            });
        </script>
    </body>
</html>